body{
    background:pink;
    background: size 100%;
    background-repeat:no-repeat;
    color: white;
}
<<<<<<< Updated upstream

header {
    display: flex;
    align-items: center;
    background-color: #f7b6c8;
    padding: 15px 40px;
    border-radius: 15px;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

header h1 {
    margin: 0;
    color: #5c2118;
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 40px;
    margin-left: 100px;
}

nav a {
    color: #5c2118;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.intro {
    background-color: #fde4ea;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.intro-image {
    width: 100%;
    max-width: 800px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}

.intro h2 {
    color: #5c2118;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.intro p {
    color: #5c2118;
    font-size: 17px;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
=======
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink);
    min-width: 150px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
>>>>>>> Stashed changes
}