body{
    background:pink;
    background: size 100%;
    background-repeat:no-repeat;
    color: white;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    background-color: #f7b6c8;
    padding: 15px 40px;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

header h1 {
    margin: 0;
    color: #5c2118;
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 25px;
    margin-left: 100px;
}

nav a {
    color: #5c2118;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: white;
}